.DS_Store
.netrw*
Brewfile.lock.json
Brewfile.tmp
config/NuGet
config/configstore
config/gcloud
config/gh
config/github-copilot
config/htop
config/iterm2
config/nvim/autoload/plug.vim.old
config/xbuild/
config/Microsoft\\VisualStudio Services/
local/bin
local/pipx/
local/share/Microsoft
local/share/NuGet
local/share/azure-functions-core-tools/
local/share/direnv/
local/share/nvim/log
local/share/nvim/view
local/state
node_modules
nvim/view
package*.json
plugged
rplugin.vim
shada
spell
