.netrw*
nvim/view
shada
spell
plugged
rplugin.vim
local/bin
local/share/NuGet
local/share/nvim/log
local/share/nvim/view
config/configstore
config/gcloud
Brewfile.lock.json
config/nvim/autoload/plug.vim.old
