.netrw*
Brewfile.lock.json
Brewfile.tmp
config/configstore
config/gcloud
config/gh
config/htop
config/iterm2
config/nvim/autoload/plug.vim.old
local/bin
local/pipx/
local/share/NuGet
local/share/direnv/
local/share/nvim/log
local/share/nvim/view
local/state/gh
node_modules
nvim/view
package*.json
plugged
rplugin.vim
shada
spell
